ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    word-break: break-word;
}
input[type=checkbox]{
    margin-right: 3px;
    vertical-align: text-bottom;
    cursor: pointer;
}
p{
    padding: 0;
    display: inline;
}
.done{
    text-decoration: line-through;
}