.appBackground{
	position: relative;
	background: #FFF;
	height: calc(100vh - 40px);
	padding: 15px;
	white-space: nowrap;
	overflow: auto;
	margin: 0;
	text-align: center;
}
.navbar-dark{
    height: 40px;
	flex-wrap: nowrap;
    background: #282828;
    color: #FFF;
}
.navbar a{
	font-size: 1.5em;
	text-decoration: none;
	font-weight: 500;
	color: #FFF;
}
.boardsWrapper{
	display: table;
    position: absolute;
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding: 10px 25px;
}
.centerBoards{
	display: table-cell;
	vertical-align: middle;
}
.centerBoards h2{
	padding-top: 15px;
	font-size: 2.5em;
}
.boardWrapper{
	display: inline-block;
	position: relative;
	width: 160px;
    height: 240px;
    padding: 5px;
    margin-right: 4px;
	vertical-align: top;
	background: #DDD;
}
.boardWrapper:hover{
	background: #EAEAEA;
	color: #666;
	cursor: pointer;
}
.boardWrapper:hover h3{
	color: #777;
}
.boardIcon{
    width: 100%;
	height: 120px;
	position: relative;
	text-align: center;
}
.icon{
    position: absolute;
	width: 100%;
	padding:0;
	margin: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.boardIcon .fa{
	font-size: 3em;
}
.boardName{
    position: relative;
    display: table;
	height: 110px;
    width: 150px;
    text-align: center; 
}
.boardName h3{
    display: table-cell;
    width: 150px;
	vertical-align: middle;
	word-break: break-word;
	white-space: initial;
	font-size: 0.8em;
}
.ngbDropdown{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
	background: rgb(233, 233, 233);
	border-radius: 5px;
}
.dropdown-toggle::after{
    content: none;
}
.ngbDropdownToggle{
    background: #F5F5F5;
}


@media (max-width: 600px){
	.boardWrapper{
		width: 100px;
		height: 150px;
	}
	.boardName{
		height: 65px;
		width: 90px;	
	}
	.boardName h3{
		width: 90px;
		font-size: 0.65em;
	}	
	.boardIcon{
		height: 75px;
	}
	.boardIcon .fa{
		font-size: 2em;
	}
	.centerBoards{
		vertical-align: top;
	}
	.centerBoards h2{
		font-size: 2em;
	}
	.boardMenuBtn{
		padding: 0 5px;
	}
}