<div class="container-fluid appBackground">
    <div class="boardsWrapper">
        <div class="centerBoards">
            <h2>My boards</h2>

            <ng-container *ngFor="let board of boardList">
                <div class="boardWrapper rounded" (click)="onClickBoard(board)">
                    <div class="boardContent">
                        <div class="boardIcon">
                            <div class="icon">
                                <i class="fa fa-align-justify"></i>
                            </div>
                        </div>
                        <div class="boardName">
                            <h3> {{ board.name }}</h3>
                        </div>
                    </div>
                </div>
            </ng-container>
            
            <div class="boardWrapper rounded" (click)="onClickNewBoard()">
                <div class="boardContent">
                    <div class="boardIcon">
                        <div class="icon">
                            <i class="fa fa-plus"></i>
                        </div>
                    </div>
                    <div class="boardName">
                        <h3>Add new board</h3>
                    </div>
                </div>
            </div>
            
            <h2>Other boards</h2>
            
            <div class="boardWrapper rounded">
                <div class="boardContent">
                    <div class="boardIcon">
                        <div class="icon">
                            <i class="fa fa-align-justify"></i>
                        </div>
                    </div>
                    <div class="boardName">
                        <h3>Doesn't work yet</h3>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>