<ng-container *ngIf="userId">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a href="/boards">YouDoList</a>
        <div class="ml-auto navbarRight">
            <div ngbDropdown placement="bottom-right" display="dynamic">
                <button ngbDropdownToggle class="btn userOptionsBtn" id="userOptions">
                    <img class="userAvatar" src="{{userPhotoURL}}" alt="User">
                </button>
                <div ngbDropdownMenu aria-labelledby="userOptions" class="ngbDropdownToggle userOptionsMenu">
                    <button ngbDropdownItem (click)="onClickShowId()"><i class="fa fa-address-card"></i> Show my ID</button>
                    <button ngbDropdownItem (click)="auth.signOut()"><i class="fa fa-sign-out"></i> Logout</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid appBackground">
        <div class="boardsWrapper">
            <div class="centerBoards">
                <h2>My boards</h2>
                <div class="userBoardsWrapper" cdkDropList cdkDropListOrientation="horizontal" id="cdk-board-drop-list" [cdkDropListData]="userBoards"
                [cdkDropListConnectedTo]="cdk-board-drop-list" (cdkDropListDropped)="onDrop($event)">
                    <div class="centerWrapper">
                        <div class="board" *ngFor="let board of userBoards" cdkDrag [cdkDragStartDelay]="10">
                            <div class="boardWrapper rounded">
                                <div ngbDropdown placement="bottom-right" display="dynamic" class="ngbDropdown">
                                    <button ngbDropdownToggle class="btn boardMenuBtn" id="boardOptions">
                                        <i class="fa fa-cogs"></i>
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="boardOptions" class="ngbDropdownToggle">
                                        <button ngbDropdownItem (click)="onClickDelete(board)"><i class="fa fa-times"></i> Delete</button>
                                        <button ngbDropdownItem (click)="onClickEdit(board)"><i class="fa fa-edit"></i> Edit</button>
                                    </div>
                                </div>
                                <div class="boardContent" (click)="onClickBoard(board)">
                                    <div class="boardIcon" cdkDragHandle>
                                        <div class="icon">
                                            <i class="fa fa-align-justify"></i>
                                        </div>
                                    </div>
                                    <div class="boardName">
                                        <h3> {{ board.name }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="board">
                            <div class="boardWrapper rounded" (click)="onClickNewBoard()">
                                <div class="boardContent">
                                    <div class="boardIcon pointer">
                                        <div class="icon">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                    </div>
                                    <div class="boardName">
                                        <h3>Add new board</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="friendsBoards.length > 0">
                    <h2>Other boards</h2>

                        <div class="userBoardsWrapper">
                            <div class="centerWrapper">
                                <ng-container *ngFor="let board of friendsBoards">
                                    <div class="board">
                                        <div class="boardWrapper rounded">
                                            <div ngbDropdown placement="bottom-right" display="dynamic" class="ngbDropdown">
                                                <button ngbDropdownToggle class="btn boardMenuBtn" id="boardOptions">
                                                    <i class="fa fa-cogs"></i>
                                                </button>
                                                <div ngbDropdownMenu aria-labelledby="boardOptions" class="ngbDropdownToggle">
                                                    <button ngbDropdownItem (click)="onClickLeaveBoard(board.id)"><i class="fa fa-external-link"></i> Leave</button>
                                                </div>
                                            </div>
                                            <div class="boardContent" (click)="onClickBoard(board)">
                                                <div class="boardIcon friendBoardIcon pointer">
                                                    <div class="icon">
                                                        <i class="fa fa-align-justify"></i>
                                                    </div>
                                                </div>
                                                <div class="boardName">
                                                    <h3>{{ board.name }}</h3>
                                                </div>
                                                <div class="boardAuthor">
                                                    <p><i class="fa fa-user"></i> {{ getBoardAuthorName(board.ownerId) }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                </ng-container>
            </div>
        </div>
    </div>
</ng-container>
