.mat-dialog-actions{
    position: relative;
    float: right;
    padding-bottom: 10px;
    padding-top: 2px;
}
.mat-dialog-actions button{
    margin-left: 4px;
    margin-top: 4px;
}
.mat-dialog-content{
    padding: 0 20px 10px 20px;
}
input,
textarea{
    padding: 0 5px;
}
button{
    margin: 0 0 0 5px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li p{
    display: inline-block;
    cursor: grab;
    margin: 0;
}
.cdk-drop-list-dragging{
    cursor: grabbing;
}
.cdk-drag{
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-preview{
    cursor: grabbing;
    transition: none;
}
input[type=checkbox]{
    margin-right: 3px;
    vertical-align: middle;
}
label[for=todoList]{
    margin: 0;
}
label{
    width: 100%;
    margin-bottom: 0;
    font-weight: bold;
}
p{
    padding: 0;
    display: inline;
}
h2{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
}
.active{
    text-decoration: line-through;
}
.placeholder{
    height: 1.5em;
}
.done{
    word-break: break-word;
    text-decoration: none;
}
.deleteTodo .fa{
    color: #e70000;
    margin-left: 5px;
    font-size: 1.2em;
}
.creationDetails{
    padding-top: 12px;
}
.creationDetails p{
    width: 100%;
    font-size: 0.8em;
    padding: 0 10px;
    margin: 0;
}
.deleteTask{
    text-align: center;
    width: 100%;
}
.deleteTask button{
    width: 100%;
    padding: 0;
}
input.newTodoName{
    height: 25px;
    margin-right: 5px;
}
.addNewTodo{
    width: 25px;
    height: 25px;
    vertical-align: top;
}
button.addNewTodo{
    padding: 0;
    margin: 0;
    margin-top: -1px;
}
button:focus{
    box-shadow: none;
}
.addNewTodo .fa{
    vertical-align: initial;
    color: #006e12;
    font-size: 1.5em;
}
.input-group{
    vertical-align: middle;
}
.form-group{
    margin-bottom: 0.2rem;
}
.dueDate{
    margin-top: 5px;
}
a.cancelDueDate{
    display: flex;
	margin-top: -1px;
}
.cancelDueDate .fa{
    color: #FF0000;
    font-size: 1.5em;
    margin: 0;
    margin-left: 3px;
    vertical-align: top;
}
input.dueDateField,
input.pointsField,
input.nameField
{
    height: 25px;
    margin-right: 5px;
}
::ng-deep.mat-icon-button{
    width: 25px!important;
    height: 25px!important;
    line-height: 25px!important;
}
.dueDateLine{
    display: inline-flex;
	width: 100%;
}
::ng-deep button.mat-icon-button.mat-button-base{
    vertical-align: text-bottom!important;
  }
  ::ng-deep svg.mat-datepicker-toggle-default-icon{
    color: #4864b3!important;
  }

