.mat-dialog-actions{
    float: right;
}
input,
textarea{
    padding: 0 5px;
}
button{
    margin: 0 0 0 5px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
input[type=checkbox]{
    margin-right: 3px;
    vertical-align: middle;
}
label[for=todoList]{
    margin: 0;
}
label{
    width: 100%;
    margin-bottom: 0;
    font-weight: bold;
}
p{
    padding: 0;
    display: inline;
}
.mat-dialog-content{
    min-width: 300px;
    padding: 0 20px 10px 20px;
}
.active{
    text-decoration: line-through;
}
.done{
    text-decoration: none;
}
.deleteTodo .fa{
    color: #e70000;
    margin-left: 5px;
    font-size: 1.2em;
}
.creationDetails{
    padding-top: 25px;
}
.creationDetails p{
    width: 100%;
    font-size: 0.8em;
    padding: 0 10px;
    margin: 0;
}
.deleteTask{
    text-align: center;
    width: 100%;
}
.deleteTask button{
    width: 100%;
    padding: 0;
}
input.newTodoName{
    height: 25px;
    margin-right: 5px;
}
.addNewTodo{
    width: 25px;
    height: 25px;
    vertical-align: sub;
}
button.addNewTodo{
    padding: 0;
    margin: 0;
}
.addNewTodo .fa{
    vertical-align: initial;
    color: #006e12;
    font-size: 1.5em;
}
.input-group{
    vertical-align: middle;
}
.form-group{
    margin-bottom: 0.2rem;
}
.dueDate{
    margin-top: 5px;
}
.cancelDueDate .fa{
    color: #FF0000;
    font-size: 1.5em;
    margin: 0;
    margin-left: 3px;
    vertical-align: middle;
}
input.dueDateField,
input.pointsField,
input.nameField
{
    height: 25px;
    margin-right: 5px;
}
::ng-deep.mat-icon-button{
    width: 25px!important;
    height: 25px!important;
    line-height: 25px!important;
}