<mat-dialog-content>
    <h3>You are about to undo task "{{ taskName }}"</h3>
    <p>Completed by: {{ detailsService.getDisplayName(taskCompletitor) }}<br>
    Worth: {{ taskPoints }} <i class="fa fa-diamond"></i></p>
</mat-dialog-content>

<mat-dialog-actions>
    <button type="submit" class="btn btn-success" (click)="onClickSubstractPointsButton()">Substract points</button>
    <button type="submit" class="btn btn-success" (click)="onClickLeavePointsButton()">Leave points</button>
    <button type="cancel" class="btn btn-danger" (click)="onClickCancelButton()">Cancel</button>
</mat-dialog-actions>