.appBackground{
	height: calc(100vh - 40px);
	padding: 15px;
    margin: 0;
    overflow: auto;
    white-space: nowrap;
    background: #FFF;
}
.navbar-dark{
    height: 40px;
	flex-wrap: nowrap;
    background: #282828;
    color: #FFF;
}
.navbar a{
	font-size: 1.5em;
    text-decoration: none;
    font-weight: 500;
	color: #FFF;
}
.navbarRight p{
    display: inline;
    padding: 0 15px;
    vertical-align: super;
}
.navbarRight p i{
    font-size: 0.8em;
}