.appBackground{
	height: calc(100vh - 42px);
	padding: 15px;
    margin: 0;
    overflow: auto;
    white-space: nowrap;
    background: linear-gradient(65deg, #689bc7, #1ca982);
}
.navbar-dark{
    height: 42px;
	flex-wrap: nowrap;
    background: #282828;
    color: #FFF;
}
.navbar a{
	font-size: 1.5em;
    text-decoration: none;
    font-weight: 500;
    color: #FFF;
    cursor: pointer;
    padding: 3px;
    margin: 4px;
}
.userAvatar{
	max-height: 32px;
	border-radius: 30px;
}
.userOptionsBtn{
	padding: 0;
    box-shadow: none;
    margin-left: 5px;
    margin-top: 4px;
}
.dropdown{
    display: inline-grid;
}
.dropdown-toggle::after{
    content: none;
}
.ngbDropdownToggle{
    background: #F5F5F5;
}
.navbarRight p{
    display: inline;
    vertical-align: super;
}
.navbarRight p i{
    margin-left: 3px;
}
.navbarRight img{
    vertical-align: sub;
}
.points{
    display: inline-block;
    height: 100%;
    margin-right: 10px;
    font-size: 0.9em;
}
