.mat-dialog-actions{
    position: relative;
    float: right;
}
table#usersTable{
    width: 100%;
}
.pointsTh{
    text-align: right;
}
.pointOptionsTh{
    text-align: center;
}
.pointOptionsTd{
    text-align: right;
    width: 145px;
}
.levelOptionsTd{
    text-align: center;
}
.pointsTd{
    width: 1px;
    max-width: 100px;
}
.points{
    display: flex;
    float: right;
}
.points .fa{
    margin-top: 3px;
    margin-left: 3px;
}
button{
    display: inline;
}