<mat-dialog-content>
    <div class="title">
        <span><img class="titleImg" src="/assets/icons/users-cog.svg"  alt=""><h2>User list</h2></span>
    </div>
    <div class="userList">
        <div *ngFor="let user of userList; let i = index">
            <div class="user">
                <div class="displayName">
                    <img class="userPhoto" src="{{ usersDetailProvider.getPhotoUrl(user.id) }}" alt=""> <p>{{ usersDetailProvider.getDisplayName(user.id) }}</p>
                </div>
                <button *ngIf="4 > user.accessLevel" class="deleteBtn" (click)="onClickDeleteUser(user.id)"><i class="fa fa-times"></i></button>
                <table>
                    <thead>
                        <tr>
                            <th><p>Access Level<br></p>
                                <button class="optionsBtn" (click)="onIncreaseUserLevel(user.id)"><i class="fa fa-chevron-circle-up"></i></button>
                                <button class="optionsBtn" (click)="onDecreaseUserLevel(user.id)"><i class="fa fa-chevron-circle-down"></i></button>
                            </th>
                            <th><p>Points<br></p>
                                <button class="optionsBtn" (click)="onAddUserPoints(user.id)"><i class="fa fa-plus-circle"></i></button>
                                <button class="optionsBtn" (click)="onSubUserPoints(user.id)"><i class="fa fa-minus-circle"></i></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="accessLevelTd">{{ user.accessLevel }}</td>
                            <td class="pointsTd">{{ user.points }} <i class="fa fa-diamond"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button *ngIf="userAccessLevel >= 3" type="submit" class="btn btn-success" (click)="onClickInvite()"><i class="fa fa-plus"></i> Invite a friend</button>
    <div class="actionsFlex"></div>
    <button type="cancel" class="btn btn-danger" (click)="onClickClose()">Close</button>
</mat-dialog-actions>