.categoryWrapper{
	display: inline-block;
	width: 280px;
	height: 100%;
    margin-right: 10px;
    vertical-align: top;
}
.categoryContent{
    display: flex;
    flex-flow: column;
    max-height: 100%;
    padding: 3px;
    white-space: normal;
    border-radius: 0.25rem;
    background: #DDD;
    -webkit-box-shadow: 0 4px 5px 0px rgba(0,0,0,0.32); 
    box-shadow: 0 4px 5px 0px rgba(0,0,0,0.32);
}
.categoryHeader{
    display: flex;
    position: relative;
    flex: 0 0 auto;
    flex-flow: column;
    padding: 3px;
}
.categoryTitle{
    max-width: calc(100% - 30px);
    min-height: 25px;
}
button.categoryMenuBtn{
    position: absolute;
    width: 25px;
    padding: 0;
    right: 3px;
    top: 2px;
    vertical-align: top;
    background: #EEE;
    -webkit-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.3); 
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.3); 
}
.categoryHeader h2{
    word-break: break-word;
    font-size: 1.1rem;
    color: #111;
}
.addNewTask{
    display: flex;
    flex: 0 1;
    text-align: center;
    margin: -3px;
    margin-top: 1px;
    padding: 6px 5px 8px 5px;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.fa{
    color: #444;
    margin: auto;
}
.fa p{
    display: inline;
    margin-left: 4px;
    font-family: 'Roboto';
    font-size: 0.9em;
    color: #4A4A4A;
}
.addNewTask:hover{
    background: #EAEAEA;
    cursor: pointer; 
}
.addNewTask:hover .fa{
    color: #666;
}
.addNewTask:hover .fa p{
    color: #777;
}
.editCategoryInput button{
    height: 21px;
    width: 21px;
    padding: 0;
    margin: 0;
    margin-left: 4px;
}
.editCategoryName{
    height: 25px;
    vertical-align: middle;
    padding: 0 5px;
}
.editCategoryInput{
    height: 29px;
}
.editCategoryInput button{
    vertical-align: top;
}
.pointer{
    cursor: pointer;
}
.ngbDropdown{
    position: initial;
}
.dropdown-toggle::after{
    content: none;
}
.ngbDropdownToggle{
    background: #F5F5F5;
}
.tasksFlexWrap{
    flex: 1 1 auto;
    flex-flow: column;
    padding: 0 4px;
    overflow-x: hidden;
    overflow-y: auto;
}