<ng-container *ngFor="let category of categories">
    <div class="categoryWrapper rounded">
        <div class="categoryContent">
            <div class="categoryHeader">
                <div class="categoryTitle">
                    <h2>{{ category.name }}</h2>
                </div>
                <button class="btn categoryMenuBtn" (click)="onClickCategoryOptions(category)">
                    <i class="fa fa-edit"></i>
                </button>
            </div>
            <ng-container *ngIf="category.taskList?.length > 0">
                <div class="taskList">
                    <app-task [tasks]="category.taskList"></app-task>
                </div> 
            </ng-container>
            <a class="addNewTask" (click)="onClickAddNewTask()">
                <i class="fa fa-plus"><p> Add new task</p></i>
            </a>
        </div>
    </div>
</ng-container>