.taskList{
    flex: 1 1 auto;
    flex-flow: column;
    padding: 0 4px;
    overflow-x: hidden;
    overflow-y: auto;
}
.task{
    width: 100%;
    min-height: 40px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 0.25rem;
    background: #EEE;
}
.taskName{
    min-height: 20px;
}
.taskDescription{
    padding: 0 3px;
}
.todoList{
    padding: 0 10px;
    margin-top: 8px;
    font-size: 0.8rem;
}
.todoList input[type=checkbox], 
.todoList input[type=radio] {
    vertical-align: text-bottom;
}
.taskControls{
    position: relative;
    min-height: 30px;
}
.taskDoneBtn{
    position: absolute;
    width: 40px;
    padding: 0;
    right: 0;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #FFF;
    background: #4acd00;
}
.taskName h3{
    margin: 0;
    font-size: 1rem;
    color: #222;
}
.taskDescription p{
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    line-height: 1rem;
    color: #444;
}

.taskList::-webkit-scrollbar {
    width: 8px;
}
.taskList::-webkit-scrollbar-track {
    border-radius: 0.25rem;
    box-shadow: inset 0 0 2px #666; 
    background: #DDD;
}
.taskList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #444; 
}
.taskList::-webkit-scrollbar-thumb:hover {
    background: #555; 
}