.task{
    width: 100%;
    min-height: 40px;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 0.25rem;
    background: #EEE;
    -webkit-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.3); 
    box-shadow: 0 2px 5px 0px rgba(0,0,0,0.3);
}
.task:first-child{
    margin-top: 0;
}
.taskName{
    min-height: 20px;
}
.taskDescription{
    padding: 0 3px;
}
.todoList{
    padding: 0 10px;
    margin-top: 8px;
    font-size: 0.8rem;
}
.taskControls{
    position: relative;
    min-height: 30px;
}
button{
    float: right;
    width: 40px;
    padding: 0;
    right: 0;
    margin-left: 2px;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #FFF;    
}
.taskDoneBtn{
    background: #4acd00;
}
.taskSettingsBtn{
    background: #e0c009;
}
.taskDoneBtn:hover{
    color: #d9eccf;
}
.taskSettingsBtn:hover{
    color: #fff8cd;
}
.taskName h3{
    margin: 0;
    font-size: 1rem;
    color: #222;
}
.taskDescription p{
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    line-height: 1rem;
    color: #444;
}