.task{
    width: 100%;
    min-height: 40px;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 0.25rem;
    background: #EEE;
    -webkit-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.3); 
    box-shadow: 0 2px 5px 0px rgba(0,0,0,0.3);
}
.task:first-child{
    margin-top: 0;
}
.taskName{
    min-height: 20px;
}
.taskDescription{
    padding: 0 3px;
}
.todoList{
    padding: 0 10px;
    margin-top: 8px;
    font-size: 0.8rem;
}
.taskControls{
    position: relative;
    min-height: 30px;
    margin-top: 10px;
}
button{
    float: right;
    width: 40px;
    padding: 0;
    right: 0;
    height: 30px;
    margin-left: 3px;
    font-size: 1.15rem;
    color: #FFF; 
    -webkit-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.3); 
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.3);   
}
.taskDoneBtn{
    background: #47a214;
}
.taskDoneBtn:hover{
    color: #c7e7b7;
}
.taskSettingsBtn{
    background: #e0c009;
}
.taskSettingsBtn:hover{
    color: #eef0b4;
}
.taskDeleteBtn{
    background: #cf202b;
}
.taskDeleteBtn:hover{
    color: #e1acb0;
}
.taskName h3{
    word-break: break-word;
    margin: 0;
    font-size: 1rem;
    color: #222;
}
.taskDescription p{
    word-break: break-word;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    line-height: 1rem;
    color: #444;
}
.taskDate{
    position: absolute;
}
.taskDate p{
    margin: 0;
    padding-left: 4px;
    font-size: 0.65em;
    color: #555;
}
.fa{
    vertical-align: baseline;
}