<div class="task">
    <div class="taskName">
        <h3>Example task</h3>
    </div>
    <div class="taskDescription">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="todoList">
        <ul>
            <li><input type="checkbox" name="" value=""> Example todo 1</li>
            <li><input type="checkbox" name="" value=""> Example todo 2</li>
            <li><input type="checkbox" name="" value=""> Example todo 3</li>
        </ul>
    </div>
    <div class="taskControls">
        <button class="btn taskDoneBtn"><i class="fa fa-check"></i></button>
    </div>
</div>