body{
    font-size: 18px;
}
.appBackground{
	height: calc(100vh - 40px);
	padding: 15px;
    margin: 0;
    overflow: auto;
    white-space: nowrap;
    background: #FFF;
}
.navbar-dark{
	height: 40px;
	flex-wrap: nowrap;
    background: #282828;
    color: #FFF;
}
.navbar h1{
    padding-top: 7px;
    font-size: 30px;
}