<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <h1>YouDoList</h1>
</nav>

<div class="container-fluid appBackground">
    <div class="categoryWrapper rounded">
        <div class="categoryContent">
            <div class="categoryHeader">
                <div class="categoryTitle">
                    <h2>Example category</h2>
                </div>
                <button class="btn categoryMenuBtn">
                    <i class="fa fa-edit"></i>
                </button>
            </div>
            <div class="taskList">
                <div class="task">
                    <div class="taskName">
                        <h3>Example task</h3>
                    </div>
                    <div class="taskDescription">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="todoList">
                        <ul>
                            <li><input type="checkbox" name="" value=""> Example todo 1</li>
                        </ul>
                        <ul>
                            <li><input type="checkbox" name="" value=""> Example todo 2</li>
                        </ul>
                        <ul>
                            <li><input type="checkbox" name="" value=""> Example todo 3</li>
                        </ul>
                    </div>
                    <div class="taskControls">
                        <button class="btn taskDoneBtn"><i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
