<div class="container-fluid appBackground">
    <div class="contentWrapper">
        <div class="centerContent row">
            <div class="row">
                <div class="col-4 image">
                    <i class="fa fa-compass"></i>
                </div>
                <div class="col-8 description">
                    <div class="message">
                        <h2>Sorry</h2>
                        <h3>Requested URL was not found on this server</h3>
                        <button class="btn btn-primary" (click)="onClickBackBtn()"><i class="fa fa-angle-left"></i> Back to main page</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>