.appBackground{
	position: relative;
	background: #FFF;
	height: calc(100vh);
	padding: 15px;
	white-space: nowrap;
	overflow: auto;
	margin: 0;
}
.contentWrapper{
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 10px 25px;
}
.centerContent{
	display: table-cell;
	vertical-align: middle;
}
.description{ 
	display: table; 
	width:100%;
	height: 170px;
	text-align: left;
	padding-right: 30px;
	white-space: initial;
}
.message{
	display: table-cell; 
	vertical-align: middle;;
}
.image{
	text-align: right;
	padding-left: 20px;
	font-size: 6em;
}