.mat-dialog-content{
    text-align: center;
}
.mat-dialog-actions{
    position: relative;
    float: right;
    padding-bottom: 10px;
    padding-top: 2px;
}
.mat-dialog-actions button{
    margin-left: 4px;
    margin-top: 4px;
}